header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
@media (max-width: 600px) {
    header{
        flex-wrap: wrap;
    }
}
body{
    font-family: 'lato', sans-serif;
}
#header-img{
    width: 300px;
    height: 100%;
}
@media (max-width: 650px) {
    #header-img{
        margin-top: 15px;
        width: 100%;
        position: realtive;
    }
}

nav{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 35vw;
}
 a:hover{
    color: red;
    background-color: white;
}